h2.heading {
    font-size: 1.6em;
    color: #669dda;
}

#info {
    font-size: calc(.2em + 1vw);
    color: #495057;
    font-weight: 500;
}

@media only screen and (max-width:767px) {
    #info {
        font-size: calc(.7em + 1vw);
    }
}