footer {
    width: 75%;
    /* height: 60px; */
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    color: #1f262d;
    text-align: center;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

p {
    margin-top: 1rem;
}

p#footer-tag {
    font-size: 1em;
    font-weight: bolder;
    color: #0c5460;
}

@media only screen and (max-width:968px) {
    footer {
        position: relative;
        width: 100%;
        margin: 0;
        height: 60px;
        padding-top: 2px;
    }
  }