

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: transparent;
  display: block;
  align-items: center;
  height: 50px;
  font-size: 1.1em;
  color: white;
  margin-top: 1.3em;
}

.App-link {
  color: #09d3ac;
}

.content-container {
  height: 100%;
}

.content {
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
  position: relative;
  top: 20px;
  height: auto;
}

.justify-content-md-center {
  height: 85vh;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.justify-content-md-center {
  height: 100%;
}

@media only screen and (max-width:767px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .content {
    width: 100%;
    margin: 0;
    /* border: 1px solid red; */
    position: relative;
    top: 0;
    height: 100%;
  }

  .col-12 {
    margin-bottom: 30px;  
  }

  .content-container {
    margin-top: 20px;
  }
}